#logo {
  float: left;
  margin:0px;
  width:30px;
}
.head1 {
  margin: 0px;
  padding:10px 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.rowi:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

.signin{
  float: right;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 8px;
  cursor: pointer;
}
.signin:hover{
color: #00acee;

}

.buttonl {
  background-color: black;
  float: right;
  width:100px;
  border: 1.5px solid;
  color: #00acee;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 50px;
}
.buttonl:hover {
 background-color: #00acee;
 border-color: #00acee;
  color: white;
}
h1 {
  color:#22577A;
  text-align: center;
  font-size:35px;
}

*, *:before, *:after {
  box-sizing: inherit;

}

.column {
  float: left;
   width: 30%;
   padding: 10px;
   height: 520px;
   margin-left:30px;
}
.card {
  width: 90%;
  height:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  text-align: center;
}

.container {
  background-color:white;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 85%;
  margin: 1px auto;
  border-radius: 25px;
  text-align: center;
}

/* .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
} */

/* afte the header section */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: white;
  color: #417D7A;
}


.title {
  color: #112B3C;
}

img {
  border-radius: 50%;
  width: 70%;
  height:265.95px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
