h1 {
  color:#22577A;
  text-align: center;
  font-size:35px;
}

*{
  box-sizing: border-box;
}

.column {
  float: left;
   width: 33.33%;
   padding: 10px;
   height: 520px;
}
.column2 {
  float: left;
   width: 50%;
   padding: 10px;
   height: 520px;
}
.card {
  width: 80%;
  height:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  text-align: center;
  margin-left: 15%;
}
.card2{
  width: 50%;
  height:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  text-align: center;
  margin-left: 25%;
}

.container {
  background-color:white;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  margin: 1px auto;
  border-radius: 25px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* afte the header section */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: white;
  color: #417D7A;
}


.title {
  color: #112B3C;
}

img {
  border-radius: 50%;
  width: 70%;
  height:265.95px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 50%;
    display: block;
  }
}
