body{
  background-color: white;
  margin: 0;
}
  ul {
  list-style: none;
  padding: 1px;
  overflow: hidden;
  background-color: white;
  margin: 0;
}
li {
  float: left;
  display:inline-flex;
  margin-left:5px;
}

li a {
  margin:0px;
  font-weight: bold;
  font-size: 25px;
  display: block;
  color: black;
  border-radius: 10px;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #22577A;
}
.container1{
  text-align: center;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  margin: 10px auto;
  border-radius: 20px;
}
